body {
  font-family: 'Poppins', sans-serif;
}
.h1 {
  font-weight: 900;
}
.h2, h2 {
  font-weight: 800;
}
.h3, h3 {
  font-weight: 700;
}
.h4 {
  font-weight: 600;
}
h5, h6 {
  font-weight: 700;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url('preloader.gif');
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
}